<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://bane.beget.ru:3306/dieseljc_puzzle</property>
        <property name="connection.pool_size">100</property>
        <property name="show_sql">true</property>
        <!--?autoReconnect=true&user=root&password=tj$74-->
        <property name="hibernate.connection.username">dieseljc_puzzle</property>
        <property name="hibernate.connection.password">puzart6$2015</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="current_session_context_class">thread</property>
        
        <!-- tell hibernate to use C3P0 -->  
        <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
         
        <!-- If this is a number greater than 0, C3P0 will test all idle, pooled but unchecked-out connections, every this number of seconds--> 
        <!-- Set this to something below your MySQL wait_timeout -->
         
        <property name="c3p0.idle_test_period">14400</property>
         
        <!-- a query used to test connections --> 
        <property name="c3p0.preferredTestQuery">select 1;</property>
                 
        <mapping class="hibernate.tables.User" />
        <mapping class="hibernate.tables.Tag" />
        <mapping class="hibernate.tables.Content" />
        <mapping class="hibernate.tables.ContentTagLinker" />
        <mapping class="hibernate.tables.FrontPage" ></mapping>
        <mapping class="hibernate.tables.ContentPositionHistory" ></mapping>
    </session-factory>
</hibernate-configuration>
