<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
        <!--property name="connection.driver_class">org.postgresql.Driver</property-->
        <!--property name="hibernate.connection.url">jdbc:postgresql://212.15.156.32:5432/postgresql</property-->
        <!--property name="hibernate.connection.username">qa</property-->
        <!--property name="hibernate.connection.password">qa</property-->
        <!--property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property-->

        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/puzzle</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">tj$74</property>
        
        <!--property name="hibernate.connection.url">jdbc:mysql://bane.beget.ru:3306/dieseljc_puzzle</property-->
        <!--property name="hibernate.connection.username">dieseljc_puzzle</propert-->
        <!--property name="hibernate.connection.password">puzart6$2015</property-->
        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
		<property name="hibernate.connection.autoReconnect">true</property>
        <property name="hibernate.connection.pool_size">50</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="current_session_context_class">thread</property>
        
        <!--?autoReconnect=true&user=root&password=tj$74-->
        
        <!-- tell hibernate to use C3P0 -->  
        <!--property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property-->
        <!--property name="hibernate.c3p0.idle_test_period">14400</property-->
        <!--property name="hibernate.c3p0.min_size">5</property-->
        <!--property name="hibernate.c3p0.max_size">20</property-->
        <!--property name="hibernate.c3p0.timeout">1800</property-->
        <!--property name="hibernate.c3p0.max_statements">50</property-->
        <!--property name="hibernate.c3p0.preferredTestQuery">select 1;</property-->
                 
        <mapping class="hibernate.tables.User" />
        <mapping class="hibernate.tables.Tag" />
        <mapping class="hibernate.tables.Content" />
        <mapping class="hibernate.tables.ContentTagLinker" />
        <mapping class="hibernate.tables.FrontPage" ></mapping>
        <mapping class="hibernate.tables.ContentPositionHistory" ></mapping>
    </session-factory>
</hibernate-configuration>
